.benefits-container{
    padding: 5vmin 0;
    font-family: 'Inter', sans-serif;
    font-size: 2.3vmin;
    h2{
        text-align: center;
        padding-bottom: 2vmin;
    }
}

.benefits-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 7vmin;
}

.benefit-box{
    width: 44vmin;
    margin: 2.5vmin;
    padding: 2.5vmin;
    border-radius: 2vmin;
    border: 0.5vmin solid #EE601D;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 30%;
    img{
        display: block;
        height: 7vmin;
        width: 7vmin;
        margin-bottom: 2vmin;
    }
    span{
        padding-bottom: 1vmin;
        font-weight: 700;
    }
    p,span{
        line-height: 3.5vmin;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .benefits-flex{
        margin: 0 6vmin;
    }
    .benefit-box{
        padding: 5vmin 3.5vmin;
        flex: 1 1 30%;
        img{
            height: 9vmin;
            width: 9vmin;
            margin-bottom: 2.5vmin;
        }
        span{
            padding-bottom: 2vmin;
        }
    }   
}