.footer-container{
    background-color: black;
    // background-color: #212121;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 2.3vmin;
    padding: 6vmin 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    span{
        color: #b9b9b9;
    }
}